.loader__container {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 1);
}
.loader {
  display: inline-block;
  font-size: 48px;
  font-weight: bold;
  color: #ff9900;
  animation: spinAndScale 2s infinite ease-in-out;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spinAndScale {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotate(-180deg) scale(0.5);
  }
  50% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(360deg) scale(1.2);
  }
}
