@media (max-width: 575px) {
  .bestSeller {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    h2 {
      font-size: 16px;
      font-weight: 700;
      line-height: 31.83px;
      padding-bottom: 5px;
    }

    /* General arrow styles */
    .custom-arrow {
      width: 5px !important;
      height: 20px !important;
      padding: 19px 5px;
    }
  }
}

/* Small devices (phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
}
